<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <title>HappyNet</title>
    </head>
    <body>
        <h1>Welcome Back, {{ g.user }}!</h1>
        {% if groups != [] %}
        <h2>Existing Groups</h2>
        <table class="fullwidth">
            <tr >
                <th>Name</th>
                <th>Target</th>
                <th>U/P</th>
            </tr>
                {% for group in groups %}
                <tr>
                    <td><a href="/group/{{group.name}}">{{ group.name }}</a></td>
                    <td>{{ group.target }}</td>
                    <td>{{ group.members_count }}/{{ group.threads }}</td>
                </tr>
                {% endfor %}
        </table>
        <br/>
        {% else %}
        <p class="error">There are no groups</p>
        {% endif %}

        {% if registration_requests != [] and g.role == "admin" %}
        <h2>Registration Requests</h2>
        <table class="fullwidth">
            <tr>
                <th>Name</th>
                <th>Approve</th>
                <th>Declyne</th>
            </tr>
            {% for request in registration_requests %}
            <tr>
                <td>{{request}}</td>
                <td>
                    <form method="post" action="/approve/{{request}}">
                        <button type="submit" class="success">Approve</a>
                    </form>
                </td>
                <td>
                    <form method="post" action="/declyne/{{request}}">
                        <button type="submit" class="error">Declyne</a>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        <br/>
        {% endif %}

        <form method="post" action="/group/create" class='bordered'>
            <p class="error">{{ group_err }}</p>
            <h3 style="margin: 0px">Create a new Attackers' Group</h3>
            <br/>

            <label for="name">Group's Name</label><br/>
            <input name="name"
                    type="text"
                    placeholder="MyGroup"
                    value="{{request.form['name']}}"
                    minlength="2"
                    maxlength="22"
                    class="fullwidth"></input>
            <br/>
            <br/>

            <label for="target">Group's Target</label><br/>
            <input name="target"
                    type="url"
                    placeholder="http://target.com"
                    value="{{request.form['target']}}"
                    maxlength="200"
                    class="fullwidth"></input>
            <br/>
            <br/>

            <label for="minimum-power">Minimum Power (threads)</label><br/>
            <input name="minimum-power" type="number" value="0"></input>

            <br/>
            <br/>

            <button type="submit">Create Group</button>
        </form>
        <br>
        <form method="post" action="/logout">
            <button type="submit" class="error">Logout</a>
        </form>
        <form method="post" action="/delete">
            <button type="submit" class="error">Delete Account</a>
        </form>
    </body>

</html>
