<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <title>HappyNet {{group.name}}</title>
    </head>
    <body>
        <a href="/" class="menu">&lt;- Go Home</a>
        <h1 style="margin-bottom: 0rem;">{{ group.name }}</h1>
        <p style="margin-top: 0rem;">Attack Status: <span {% if group.status == "RUNNING" %} class="success" {% endif %}>{{ group.status }}</span></p>
 
        {% if group.status == "RUNNING" and is_admin %}
            <form action="/group/{{group.name}}/stop" method="post">
                <button type="submit" class="error">STOP ATTACK</button>
            </form>
        {% elif group.status == "idle" and is_admin %}
            <form action="/group/{{group.name}}/start" method="post">
                <button type="submit" class="success">START ATTACK</button>
            </form>
        {% endif %}

        {% if group.status == "RUNNING" %}
            <p class="error" style="margin-top: 0; margin-bottom: 0;"><b id="req_per_s">Req/s: {{ group.requests_per_second }}</b></p>
            <p class="error"style="margin-top: 0"><b id="tot_reqs">Total: {{ group.requests_total }}</b></p>
        {% endif %}

        <p>
            Members: {{ group.members_count }}<br>
            Power/Threads: {{ group.threads }}<br>
            Target: {{ group.target }}<br>
        </p>
        {% if group.members != [] %}
            <h2>Attackers</h2>
            <table>
                <tr>
                    <th>Name</th>
                    {% if group.status == "RUNNING" %}
                    <th>Requests</th>
                    {% endif %}
                    <th>Threads</th>
                    {% if is_admin %}
                    <th>Ban</th>
                    <th>Kick</th>
                    {% endif %}
                </tr>
                {% for member in group.members %}
                <tr>
                    <td>{{ member.name }}</td>
                    {% if group.status == "RUNNING" %}
                    <td id="reqs-{{member.name}}">{{member.requests_total}}</td>
                    {% endif %}
                    <td>{{ member.threads }}</td>
                    {% if is_admin %}
                    <td>
                        <form method="post" action="/group/{{group.name}}/{{member.name}}/ban">
                            <button type="submit">Ban</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/group/{{group.name}}/{{member.name}}/kick">
                            <button type="submit">Kick</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="error">Uhm, nobody is here.. :'(</p>
        {% endif %}

        {% if is_admin and group.banned != [] %}
            <h2 class="error">Banned Attackers</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Unban</th>
                </tr>
                {% for ban in group.banned %}
                <tr>
                    <td>{{ ban }}</td>
                    <td>
                        <form method="post" action="/group/{{group.name}}/{{ban}}/unban">
                            <button type="submit">Unban Attacker</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if is_admin %}
            <br>
            <form action="/group/{{group.name}}/delete" method="post">
                <button type="submit" class="error">Delete Group</button>
            </form>
            <br/>
        {% endif %}

    </body>

    <script>
        per_second_label = document.getElementById('req_per_s');
        total_requests = document.getElementById('tot_reqs');
        page_members = [
            {% for member in group.members %}
            "{{member.name}}",
            {% endfor %}
        ]

        function arraysEqual(a, b) {
            if (a === b) return true;
            if (a == null || b == null) return false;
            if (a.length !== b.length) return false;
        
            a.sort()
            b.sort()
        
            for (var i = 0; i < a.length; ++i) {
              if (a[i] !== b[i]) return false;
            }
            return true;
        }

        const socket = new WebSocket(`ws${location.protocol.substring(4)}//${location.host}/stalk?name={{group.name}}`);

        socket.addEventListener("message", (message) => {
            update_page_content(JSON.parse(event.data))
        })

        function update_page_content(info) {
            if (per_second_label && total_requests) {
                per_second_label.innerText = `Req/s: ${info.per_second}`;
                total_requests.innerText = `Total: ${info.total}`
            }

            res_members = []

            for (const [key, value] of Object.entries(info.members)) {
                label = document.getElementById(`reqs-${key}`)
                res_members.push(key)
                {% if group.status == "RUNNING" %}
                if (label) label.innerText = value
                {% endif %}
            }
            if (!arraysEqual(res_members, page_members)) {
                location.reload()
            }
        }

    </script>
    <script>document.title = 'HappyNet {{group.name}}'</script>
</html>
