<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <a href="/" class="menu">&lt;- Go Home</a>
        <h1 style="margin-bottom: 0rem;">{{ group.name }}</h1>
        <p style="margin-top: 0rem;">Attack Status: <span {% if group.status == "RUNNING" %} class="error" {% endif %}>{{ group.status }}</span></p>
        {% if group.status == "RUNNING" and group.admin == g.user %}
            <form action="/group/{{group.name}}/stop" method="post">
                <button type="submit" class="error">STOP ATTACK</button>
            </form>
        <p class="error" style="margin-top: 0; margin-bottom: 0;"><b>Req/s: 1k</b></p>
        <p class="error"style="margin-top: 0"><b>Total: 100k</b></p>
        {% elif group.status == "idle" and group.admin == g.user %}
            <form action="/group/{{group.name}}/start" method="post">
                <button type="submit" class="success">START ATTACK</button>
            </form>
        {% endif %}

        <p>
            Members: {{ group.members_count }}<br>
            Power/Threads: {{ group.threads }}<br>
            Target: {{ group.target }}<br>
        </p>
        {% if group.members != [] %}
            <h2>Attackers</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>CPU</th>
                    <th>Threads</th>
                    {% if group.admin == g.user %}
                    <th>Ban</th>
                    <th>Kick</th>
                    {% endif %}
                </tr>
                {% for member in group.members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.cores }}</td>
                    <td>{{ member.threads }}</td>
                    {% if group.admin == g.user %}
                    <td>
                        <form method="post" action="/group/{{group.name}}/ban">
                            <button type="submit">Ban</button>
                            <input name="user" value="{{ member.name }}" style="display: none;"></input>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="/group/{{group.name}}/kick">
                            <button type="submit">Kick</button>
                            <input name="user" value="{{ member.name }}" style="display: none;"></input>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <p class="error">Uhm, nobody is here.. :'(</p>
        {% endif %}

        {% if group.admin == g.user and group.banned != [] %}
            <h2 class="error">Banned Attackers</h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Unban</th>
                </tr>
                {% for ban in group.banned %}
                <tr>
                    <td>{{ ban }}</td>
                    <td>
                        <form method="post" action="/group/{{group.name}}/unban">
                            <button type="submit">Unban Attacker</button>
                            <input name="user" value="{{ ban }}" style="display: none;"></input>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% endif %}

        {% if group.admin == g.user %}
            <br>
            <form action="/group/{{group.name}}/delete" method="post">
                <button type="submit" class="error">Delete Group</button>
            </form>
            <br/>
        {% endif %}

    </body>
</html>
