<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
        <title>HappyNet Login</title>
    </head>
    <body>
        <h1>HappyNet - Sign In</h1>
        <p class="error">{{ err }}</p>
        <form method="post">
            <label for="username">Username</label>
            <br>
            <input  type="text" name="username"
                    placeholder="admin"
                    value="{{ request.form['username'] }}"</input>
            <br/><br/>
    
            <label for="password">Password</label>
            <br>
            <input name="password"
                    type="password"
                    placeholder="admin123"
                      ></input>
            <br/><br/>
            <button type="submit">Submit</button>
        </form>
        <a href="/register">Sign Up</a>
    </body>
</html>
